<%- include('includes/header')   -%>

<%- include('includes/navbar') -%>


<center>
    <h1>
        <%= title[0].p_name  %>
    </h1>
</center>


<h2>
    <%= body.description.title  %>
</h2>

<p> <%= body.description.body %> </p>

<h2>
    <%= body.benefit.title  %>
</h2>

<p> <%= body.benefit.body %> </p>

<h2>
    <%= body.materials.title  %>
</h2>

<p> <%= body.materials.body %> </p>


<%- include('includes/footer')   -%>