<%- include('includes/header')   -%>

<%- include('includes/navbar') -%>

<div class="container-fluid">
   
    <div class="desc-top">
<center>
    <img class="desc-image"src="images\image1.png" alt="">
    <h1 class="desc-h1">
        <%= title[0].p_name  %>
    </h1>
    
</center>
</div>
<hr>
<div class="container-fluid desc-mid">

    <!-- ---------------------------Ist Div--------------------------- -->
<div class="desc-p-div">
<h2 class="desc-h2">
    <%= body.description.title  %>
</h2>
<hr>
<div>
<p class="desc-p"> <%= body.description.body %> </p>
</div>
</div>

    <!-- ----------------------------2nd Div---------------------------- -->
<div class="desc-p-div">
<h2 class="desc-h2">
    <%= body.benefit.title  %>
</h2>
<hr>
<div>
<p class="desc-p"> <%= body.benefit.body %> </p>
</div>
</div>

   <!-- ---------------------------------3rd Div-------------------------- -->
<div class="desc-p-div">
<h2 class="desc-h2">
    <%= body.materials.title  %>
</h2>
<hr>
<div>
<p class="desc-p"> <%= body.materials.body %> </p>
</div>
</div>
</div>
<div>
    <button class="s_button red-button-large date">Check Dates</button>
</div>


<%- include('includes/footer')   -%>
</div>